.red{
    color: red;
}
.orange{
    color: var(--o) !important;
}

.flex{
    display: flex;
}

.right-align{
    margin-left: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}